# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: Labeler
on:
  pull_request_target:

permissions:
  contents: read
  pull-requests: write

jobs:
  main:
    runs-on: ubuntu-24.04
    steps:
      - name: Run Labeler
        uses: actions/labeler@8558fd74291d67161a8a78ce36a881fa63b766a9 # v5.0.0
        with:
          sync-labels: true
